<!--The content below is only a placeholder and can be replaced.-->
<div class="app-body">
    <h1>Welcome to {{ title }}!</h1>
    <hr>
  <div class="content">
      <div class="leftContent">
          <img src="{{imageUrl}}" on-error="badImageUrl()"/>
          <h2>Upload image:</h2>
          <input class="imageUrlText" type="text" placeholder="Image url:">
          <button class="uploadImageButton" >Upload</button>
        </div>
        <div class="middleContent">
            <div class="levels" [ngSwitch]='choosedLvl'>
                <easy-puzzle (updatePoints)="updateCookie($event)" [hidden]="choosedLvl != 1"></easy-puzzle>
                <medium-puzzle (updatePoints)="updateCookie($event)"  [hidden]="choosedLvl != 2"></medium-puzzle>
                <hard-puzzle (updatePoints)="updateCookie($event)"  [hidden]="choosedLvl != 3"></hard-puzzle>
                <insane-puzzle (updatePoints)="updateCookie($event)" [hidden]="choosedLvl != 4"></insane-puzzle>
            </div> 
            <h2>Choose difficulty:</h2>
            <ul>
              <li #cmp value='1' class="lvlChooser defaultLvlChooser">Easy</li>
              <li #cmp value="2" class="lvlChooser">Medium</li>
              <li #cmp value="3" class="lvlChooser">Hard</li>
              <li #cmp value="4" class="lvlChooser">Insane</li>
            </ul>
        </div>
        <div class="rightContent">
          <points-table></points-table>
        </div>
        <div>
  </div>
</div>

