/*.app-body{
    width: 1080px;
    min-width: 480px;
    border: 3px solid  #333;
    border-radius: 1%;
    background-color: #3f3f3f;
    margin: 2%;
    padding: 1%;
    color: silver;
    text-align: center;
    font-family: Helvetica;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clear{
    clear: both;
}

@media print, screen and (max-width: 1080px) {
    .app-body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 80%;
    }

    .content {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .imageUrlText{
        display: block;
        width: 50%;
    }

    .levels{
        margin-left: 10%;
    }

    .rightContent{
        width: 50%;
    }

  }

.leftContent, .middleContent, .rightContentTop{
    color:  #333;
    margin: 0.5%;
    background-color: #6E6E6e;
    flex-direction: column;
    padding: 3%;
    padding-top: 0.5%;
    border: 3px solid  #333;
    border-radius: 10%;
    width: 380px;
    height: 450px;
    align-items: center;
}

h2{
    margin-top: 0;
    margin-bottom: 2px;
}
*/

.card{
    height: 500px;
    padding: 2%;
    border-color: white;
    margin-bottom: 3px;
}

img{
    background-size: 300px 300px;
    width: 312px;
    height: 312px;
    margin-top: 3%;
    border: 2px solid #333;
    border-radius: 5%;
    margin-bottom: 3%;
}

@media  only screen and (max-width: 1200px) and (min-width: 991px) {
    img{
        background-size: 200px 200px;
        width: 212px;
        height: 212px; 
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6E6E6e;
    margin-top: 4%;
}

li{
    text-align: center;
    font-weight: bold;
    background-color: #333;
    color: white;
    display:inline-block;
    width: 25%;
    cursor: pointer;
    border: 1px solid silver;
    padding: 10px;
}

.defaultLvlChooser{
    background-color: white;
    color: #333;
}

.levels{
    width: 330px;
    height: 330px;
    margin: 2% 0 2% 0; 
}

.points{
    width: 220px;
    height: 220px;
}

.uploadImageButton{
    font-weight: bold;
    font-size: 120%;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 2%;
    border: 1px solid white;
    margin-top: 1px;
}

.uploadImageButton:hover{
    background-color: white;
    color: #333;
}

.footer{
    height: 250px;
}

.badge{
    width: 30%;
    font-size: 119%;
    margin-left: 2.5%;
    opacity: 0.5;
}

.achieved{
    opacity: 1;
    cursor: pointer;
}

/*
.imageUrlText{
    width: 90%;
    font-size: 105%;
    border: 1px solid #333;
    border-radius: 2%;
    background-color: #333;
    color: white;
    padding: 2%;
    margin: 1%;
}

.rightContent{
    flex-direction: row;  
}

.rightContentTop, .rightContentBottom{
    border: 3px solid  #333;
    border-radius: 10%;
    background-color: #6E6E6e;
    width: auto;
    height: 200px;
    padding: 5%;
    margin: 4%;
}*/