<!--The content below is only a placeholder and can be replaced.-->
<div class="app-body">
    <h1>Welcome to {{ title }}!</h1>
    <hr>
  <div class="content">
      <div class="leftContent">
          <img src="{{imageUrl}}" on-error="badImageUrl()"/>
          <h2>Upload image:</h2>
          <input class="imageUrlText" type="text" placeholder="Image url:">
          <button class="uploadImageButton" >Upload</button>
        </div>
        <div class="middleContent">
            <div class="levels" [ngSwitch]='choosedLvl'>
                <easy-puzzle [hidden]="choosedLvl != 1"></easy-puzzle>
                <medium-puzzle [hidden]="choosedLvl != 2"></medium-puzzle>
                <hard-puzzle [hidden]="choosedLvl != 3"></hard-puzzle>
                <very-hard-puzzle [hidden]="choosedLvl != 4"></very-hard-puzzle>
            </div> 
            <h2>Choose difficulty:</h2>
            <ul>
              <li #cmp value='1' class="lvlChooser defaultLvlChooser">Easy</li>
              <li #cmp value="2" class="lvlChooser">Medium</li>
              <li #cmp value="3" class="lvlChooser">Hard</li>
              <li #cmp value="4" class="lvlChooser">Insane</li>
            </ul>
        </div>
        <div class="rightContent">
          <table>
            <tr>
              <th colspan="2" id="thead">How many puzzles are you solved?</th>
            </tr>
            <tr>
              <th>Easy</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Medium</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Hard</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Insane</th>
              <td>0</td>
            </tr>
          </table>
        </div>
        <div>
  </div>
</div>

