.badge{
    width: 30%;
    font-size: 119%;
    margin-left: 2.5%;
    opacity: 0.5;
}

.achieved{
    opacity: 1;
    cursor: pointer;
}

.footer{
    height: 250px;
}

.card{
    border-color: white;
}