.badge{
    width: 28%;
    font-size: 119%;
    margin-left: 4%;
    opacity: 0.3;
}

.achieved{
    opacity: 1;
    cursor: pointer;
}

.footer{
    height: 250px;
}

.card{
    border-color: white;
    background-color: #434B53 !important;
}