table {
    border-collapse: collapse;
    width: 100%;
    font-size: 110%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th{
    font-weight: lighter;
}

td{
    font-weight: bold;
}

th {
    background-color: #333;
    color: white;
}

#thead{
    border-bottom: 1px solid white;
}